<mat-card>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor="let category of categories; let i = index;"
      [expanded]="step === i"
      (opened)="setStep(i)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{category.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{category.version}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{activeCategory.description}}</p>

      <div>Type: {{activeCategory.type}}</div>
      <div>Licence: {{activeCategory.cc_license}}</div>
      <div>URL: {{activeCategory.kiwix_url}}</div>

      <mat-action-row>
        <button mat-button color="primary" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
