<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img class="logo" src="/assets/logo.svg" alt="World Possible Logo" >
    <span>OER2Go</span>
    <span class="spacer"></span>

    <a routerLink="/home" routerLinkActive="link-active">
      <mat-icon>home</mat-icon>
    </a>
    <a routerLink="/info" routerLinkActive="link-active">
      <mat-icon>info</mat-icon>
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button (click)="toggleSearchExpanded()">
      <mat-icon>{{searchIconForState()}}</mat-icon>
    </button>
    <span class="spacer"></span>
    <form>
      <mat-form-field class="input-search-field">
        <input matInput placeholder="search">
      </mat-form-field>
    </form>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="state.searchExpanded">
    <span>expanded row</span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
